language: node_js

node_js:
  - "9"
  - "8"
  - "6"
  - "10"

script:
  - npm run lint-ci
  - npm run test-ci

after_script:
  - npm run coveralls

notifications:
  email:
    on_success: never
    on_failure: always
